.App {
   text-align: center;
   /* background-color: #97ce4c; */
   background-image: url('../assets/img/30-fondos-de-pantalla-4k-ultra-hd-de-rick-and-morty-imagenes-de-fondo.-imagen-hd-1080p-de-rick-y-morty.png');
   background-size: cover;
   background-position: center;
}

.grid-container {
   /* align-content: center; */
   display: grid;
   /* width: 300px; */
margin-left: 5%;
margin-right: 5%;
   grid-template-columns: repeat(4, 2fr);
   grid-gap: 100px; 
   /* border-radius: 20px; */
}

.grid-item {
   /* background-color: #eaeaea; */
   /* padding: 2px; */
   /* width: 250px; */
   /* height: 300px; */
   /* border-radius: 20px; */
 }

 
 div {
    /* background-color: #0c4120b2; */
 }

 