
/*   
h2 {
    color: blue;
    font-family: Nunito;
  } */
  
 
/* ------------ */

.card {
  background-image: url('../assets/img/pxfuel.jpg');
  background-size: cover;
  background-position: center;
  /* border: 1px rgb(133, 20, 20) solid; */
  border-radius: 35px
}
.container {
  position: relative;
  /* display:flow-root; */
/* height: 300px; */
/* width: 300px; */
align-items: start;
  /* border: 1px rgb(133, 20, 20) solid; */
  border-radius: 35px;
}

.ima {
  border-radius: 35px;
 width:  repeat(4, 1fr);
}



