
nav {
  margin: 40px;
  display: flex;
  
  justify-content: center;
  font-family: Nunito;
  font-size: 35px;
  background-color: #769682b2;
  border-radius: 35px;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
  }
  
  
  
  