
.navDiv {
  margin: 20px;
  display: flex;
  border-radius: 35px;
  padding: 0;
  justify-content: center;
  align-items: baseline;
  background-color: #6ff084b2;
  border: 20px chartreuse;
  height: 60px;
}


.button{
font-size: 20px;
font-family: Nunito;
background-color: rgb(251, 57, 209);
height: fit-content;
border-radius:7px ;
align-items: centers;

&:hover {
  box-shadow: 0 0 50px greenyellow;
}
}